h1
{
	color: blueviolet;
}
body
{
	background-color: darkblue;
}
h2
{
	color: blueviolet;
}
#carte
{
	width: 800px;
	margin:0 auto;
	background-color: white;
	text-align: center;
	align-content: center;
}
ul li
{
	list-style-type: none;
}